# Arquivos de Dependências
node_modules/

# Arquivos de Ambiente - NUNCA ENVIE PARA O GITHUB
.env
.env.*
!.env.example

# Logs
npm-debug.log*
*-debug.log
*-error.log

# Pasta de Build
dist/
build/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
